<div class="row">
  <div class="col s12 m12 l12">
    <div class="card white">
      <div class="card-content grey-text">
        <span class="card-title"><strong>Sidebar</strong></span>
        <p class="info-text">This is the section for additional information. This could be deals and offers or additonal information to add to the blog post.</p>
      </div>
      <div class="card-action">
          <app-search-blog></app-search-blog>
      </div>
      <div class="card-action">
        <app-popular-posts></app-popular-posts>
      </div>
    </div>
  </div>
</div>